<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <h4>Quiz <span id="quiz-id" th:text="${quiz.quizId}"></span></h4>
    <h1 th:text="${quiz.title}"></h1>
    <div class="d-flex justify-content-center">
        <a th:href="@{|/quiz/${quiz.quizId}/question/add|}" class="btn btn-success mb-4">Add Question</a>
        <a th:href="@{|/quizzes|}" class="btn btn-info mb-4">All Quizzes</a>
    </div>

    <table class="table table-hover">
        <thead class="table-dark">
            <th>Number</th>
            <th>Question</th>
            <th></th>
        </thead>
        <tbody class="table-light">
        <tr th:each="question:${questions}">
            <td th:text="${question.questionNumber}"></td>
            <th><a th:href="@{|/quiz/${quiz.quizId}/${question.questionId}/details|}" th:text="${question.questionText}"></a></th>
            <td><a th:href="@{|/quiz/${quiz.quizId}/${question.questionId}/edit|}" class="btn btn-warning">Edit Question</a></td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>