<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>

    <main class="container mt-4">
        <h1>Quiz Management</h1>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success mb-4 text-center" th:href="@{|/quiz/add|}">Add Quiz</a>
        </div>


        <table class="table table-hover">
            <thead class="table-dark">
                <th>Quiz Title</th>
                <th>Live</th>
                <th></th>
            </thead>
            <tbody class="table-light">
                <tr th:each="quiz:${quizzes}">
                    <th><a th:text="${quiz.title}" th:href="@{|/quiz/${quiz.quizId}/details|}"></a></th>
                    <td th:text="${quiz.isLive}"></td>
                    <td><a th:href="@{|/quiz/${quiz.quizId}/edit|}" class="btn btn-warning">Edit Quiz</a></td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>