<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

    <div th:replace="fragments/navigation :: nav"></div>

    <main class="container mt-4">
        <h1>Quiz Management</h1>

        <a class="btn btn-success mt-4 mb-4" th:href="@{|/quiz/add|}">Add</a>

        <table class="table table-striped">
            <thead class="table-dark">
                <th>Quiz Title</th>
                <th>Live</th>
                <th>Edit Quiz</th>
            </thead>
            <tbody>
                <tr th:each="quiz:${quizzes}">
                    <th th:text="${quiz.title}" th:href="@{|/quiz/${quiz.quizId}|}"></th>
                    <td th:text="${quiz.isLive}"></td>
                    <td><button class="btn btn-warning">Edit (Not Working)</button></td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>