h1, h3, h4, a, p {
    text-align: center;
}

h1 {
    font-weight:bold;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 5px solid #000000;
}

#take-quiz-card:hover {
    background-color: #ff9b14;
}

#take-quiz-card-text:hover {
    color: #ffffff;
}

.answer-choice:hover {
    color: #ffc107;
}

td, th {
    vertical-align: middle;
}

.btn:hover {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
}

tr > th:hover {
    color: #
}
