<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-5">

    <div class="d-flex justify-content-center mt-4">
        <img class="mt-4 mb-4" src="/images/home-img.png" width="75%" style="margin: auto;"/>
    </div>

    <h4 class="mb-4">Select a quiz you would like to test your knowledge on.</h4>

    <div th:if="${quiz.isLive}" class="card text-white bg-warning mb-2" th:each="quiz:${quizzes}" style="width: 75%; margin: auto;">
        <div id="take-quiz-card" class="card-header text-center"><strong><a id="take-quiz-card-text" th:text="${quiz.title}" th:href="@{|/quiz/${quiz.quizId}|}" style="font-size: 20px;"></a></strong></div>
    </div>
</div>

</body>
</html>